Source: qtsoundmodem
Section: hamradio
Priority: optional
Maintainer: Dave Hibberd <d@vehibberd.com>,
Standards-Version: 4.6.2.0
Vcs-Browser: 
Vcs-Git: 
Homepage: https://www.cantab.net/users/john.wiseman/Documents/QtSoundModem.html
Build-Depends: debhelper-compat (= 13), qtbase5-dev, qt5-qmake, libqt5serialport5-dev, libfftw3-dev, libpulse-dev, libasound2-dev
Rules-Requires-Root: no

Package: qtsoundmodem
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt-based Sound Modem & Terminal for packet
 QtSoundModem (QtSM) is a multi-platform port of UZ7HO's SoundModem
