[Desktop Entry]
Name=QtSoundModem
Comment=QtSoundModem
Version=1.0
Exec=/usr/bin/qtsoundmodem
GenericName=QtSoundModem
Icon=QtSoundModem
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
Categories=Education;HamRadio
X-AppImage-Version=1
